main {
    left: 0;
}

body {
    background-color: #ededf1;
    font-family: 'Libertinus';
    overflow-x: hidden;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: auto;
}

hr.solid {
    border-top: 2px solid black;
}

.toc ol li a {
    text-decoration: underline;
    color: #E73508;
}

.page-paper {
    /* margin-right: auto;
    margin-left: auto; */
    margin-top: 3%;
    height: auto;
}

.note {
    background-color: #f8f8f8;
    border-radius: 20px;
    font-family: 'Libertinus';
    padding: 8px;
    box-shadow:  25px 25px 40px #d3d3d3,
            -25px -25px 40px #ffffff;
}

.profile-pic {
    /*  */
    background-color: #f8f8f8;
    border-radius: 20px;
    padding: 10px;
    box-shadow:  25px 25px 40px #d3d3d3,
            -25px -25px 40px #ffffff;
}

/* 
@media (min-width: 593px) {
    .page-paper {
        margin-left: 10%;
    }
} */